DROP PROCEDURE IF EXISTS [dbo].[Insert_Bowl]
GO
/*************************************************************
Name : Sudam Munasinghe
Date: 2025/06/06
Example:

	DECLARE @Score			INT = 34;
	DECLARE @OverIdd		INT = 2;
	DECLARE @BowlerId		INT,
	DECLARE @BatsmanId		INT = 1;
	DECLARE @IsLegBy		BIT = NULL,
	DECLARE @IsNoBall		BIT = NULL,
	DECLARE @IsWideBall		BIT = NULL,
	DECLARE @IsWicket		BIT = NULL,
	DECLARE @Remarks		VARCHAR(100),
	DECLARE @Id				INT;

	EXEC [dbo].[Insert_Bowl]
		@Score = @Score,
		@OverIdd = @OverIdd,
		@BatsmanId = @BatsmanId,
		@IsLegBy = @IsLegBy,
		@IsNoBall = @IsNoBall,
		@IsWideBall = @IsWideBall,
		@IsWicket = @IsWicket,
		@Remarks = @Remarks,
		@Id = @Id OUTPUT

**************************************************************/

CREATE PROCEDURE [dbo].[Insert_Bowl](
	@Score			INT,
	@OverIdd		INT,
	@BowlerId		INT,
	@BatsmanId		INT,
	@IsLegBy		BIT = NULL,
	@IsNoBall		BIT = NULL,
	@IsWideBall		BIT = NULL,
	@IsWicket		BIT = NULL,
	@Remarks		VARCHAR(100),
	@Id				INT OUTPUT
)
AS
BEGIN
	
	/** Inesrt Data********************************/
	INSERT INTO [dbo].[Bowl]
	(
		[Score],
		[OverId],
		[BowlerId],
		[BatsmanId],
		[IsLegBy],
		[IsNoBall],
		[IsWideBall],
		[IsWicket],
		[Remarks]
	)
	VALUES (
		@Score,			
		@OverIdd,	
		@BowlerId,
		@BatsmanId,		
		@IsLegBy,		
		@IsNoBall,		
		@IsWideBall,	
		@IsWicket,		
		@Remarks		
	);

	SET @Id = SCOPE_IDENTITY();

END;