DROP PROCEDURE IF EXISTS [dbo].[Insert_Match]
GO
/*************************************************************
Name : Sudam Munasinghe
Date: 2025/06/06
Example:

	DECLARE @NoOfOversPerSide	INT = 10;
	DECLARE @Remarks			VARCHAR(100) = 'test remark';
	DECLARE @Id					INT;

	EXEC [dbo].[Insert_Match]
		@NoOfOversPerSide = @NoOfOversPerSide,
		@Remarks = @Remarks,
		@Id = @Id OUTPUT

**************************************************************/

CREATE PROCEDURE [dbo].[Insert_Match](
	@NoOfOversPerSide INT,
	@Remarks	VARCHAR(100),
	@Id	INT OUTPUT
)
AS
BEGIN
	
	/** Inesrt Data********************************/
	INSERT INTO [dbo].[Match]
	(
		[NoOfOversPerSide],
		[Remarks]
	)
	VALUES (
		@NoOfOversPerSide,
		@Remarks
	);

	SET @Id = SCOPE_IDENTITY();

END;