DROP PROCEDURE IF EXISTS [dbo].[Insert_Player]
GO
/*************************************************************
Name : Sudam Munasinghe
Date: 2025/06/06
Example:

	DECLARE @TeamId			INT;
	DECLARE @FirstName		VARCHAR(100);
	DECLARE @LastName		VARCHAR(100),
	DECLARE @Age			INT;

	EXEC [dbo].[Insert_Player]
		@TeamId = @TeamId,
		@FirstName = @FirstName,
		@LastName = @LastName,
		@Age = @Age,
		@Id = @Id OUTPUT

**************************************************************/

CREATE PROCEDURE [dbo].[Insert_Player](
	@TeamId			INT,
	@FirstName		VARCHAR(100),
	@LastName		VARCHAR(100),
	@Age			INT,
	@Id				INT OUTPUT
)
AS
BEGIN
	
	/** Inesrt Data********************************/
	INSERT INTO [dbo].[Player]
	(
		[TeamId],
		[FirstName],
		[LastName],
		[Age]
	)
	VALUES (
		@TeamId,			
		@FirstName,	
		@LastName,
		@Age		
	);

	SET @Id = SCOPE_IDENTITY();

END;